@page "/"

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<ul class="snapshots" @ref="list">
    @foreach (var game in Games)
    {
        <li class="@(SelectedGame == game ? "selected" : null)" @onmouseover="e => OnFocus(game)">
            <NavLink class="nav-link" href="@game">
                <img src="Assets/Index/@(game).png" alt="@game" />
            </NavLink>
        </li>
    }
</ul>
