@page "/"

<ul class="snapshots">
    <li>
        <NavLink class="nav-link" href="Pong">
            <img src="Assets/Index/Pong.png" alt="Pong" />
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="FiftyBird">
            <img src="Assets/Index/FiftyBird.png" alt="Fifty Bird" />
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="Breakout">
            <img src="Assets/Index/Breakout.png" alt="Breakout" />
        </NavLink>
    </li>
</ul>
